# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=

# Supabase keys
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# For replicate.com / still and video generation
REPLICATE_API_TOKEN=

# For the blob store
BLOB_READ_WRITE_TOKEN=

# for local development - should not include the protocol
VERCEL_URL=localhost:3000

# For localhost - Redirect URL for Supabase OAuth
NEXT_PUBLIC_AUTH_REDIRECT_URL=http://localhost:3000/auth/callback

# For production - should include the protocol
# NEXT_PUBLIC_AUTH_REDIRECT_URL=https://legend.video/auth/callback

# Auth setup:
# Create a GitHub OAuth app here: https://github.com/settings/applications/new
# Create a Google OAuth token here: https://console.cloud.google.com/apis/credentials
# Then setup both in Supabase / Authentication / Providers

# Stripe keys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=